{% extends 'base.html.twig' %}

{% block title %}Mon compte - sortir.com{% endblock %}

{% block content %}
    <h1> Mon compte</h1>

<div class='text-center'>
    <h1>{{ app.user.pseudo}} </h1>
</div>
    <hr>
<div class='text-center'>
    - {{ app.user.prenom}}
    <hr>
    - {{ app.user.nom}}
    <hr>
    -{{ app.user.telephone}}
    <hr>
    -{{ app.user.email}}
    <hr>
    -{{ app.user.campus}}
</div>

<div class='text-center' rel="stylesheet"  >

    <p><a  class="btn btn-lg btn-primary"  href="" role="button">Retour </a></p>
</div>



{% endblock %}

